@layer base {
  :root {
    --hoverButton: #fcf8f8;
    --background-body: #fffcfc;
    --text-white: #ecf0f1;
    --th-td-input-select-button: #ccc;
    --color-text: #444;
    --background-scroll: #555;
    --black: #000;
    --link-hover-color: #1f2c35;
    --background-sidebar: #2c3e50;
    --header-footer-color: #34495e;
    --color-highlight: #4bc0c0;
    --background-button: #3498db;
    --button-hover: #2980b9;
    --orange: #ff6600;
    --green: #447a17;
    --softGreen: #28a745;
    --red: #f00;
    --0-1negrem: -0.1rem;
    --007rem: 0.07rem;
    --013rem: 0.13rem;
    --015rem: 0.15rem;
    --019rem: 0.19rem;
    --02rem: 0.2rem;
    --025rem: 0.25rem;
    --03rem: 0.3rem;
    --032rem: 0.32rem;
    --037rem: 0.37rem;
    --04rem: 0.4rem;
    --05rem: 0.5rem;
    --062rem: 0.62rem;
    --075rem: 0.75rem;
    --09rem: 0.9rem;
    --093rem: 0.93rem;
    --1rem: 1rem;
    --1-13rem: 1.13rem;
    --1-25rem: 1.25rem;
    --1-5rem: 1.5rem;
    --1-87rem: 1.87rem;
    --2rem: 2rem;
    --3rem: 3rem;
    --5rem: 5rem;
    --6rem: 6rem;
    --9rem: 9rem;
    --10rem: 10rem;
    --12-5rem: 12.5rem;
    --15-6rem: 15.6rem;
    --001em: 0.01em;
    --019em: 0.19em;
    --025em: 0.25em;
    --03em: 0.3em;
    --05em: 0.5em;
    --09em: 0.9em;
    --1-25em: 1.25em;
    --15-6em: 15.6em;
  }
}
