form {
  margin: 0 auto;
}
fieldset {
  box-shadow: 0px 6px 30px -15px rgba(0, 0, 0, 0.75);
  color: var(--green);
  padding: var(--1rem);
  margin-bottom: var(--1rem);
  border-radius: var(--1rem);
  border: none;
}
#clientes fieldset {
  align-items: center;
  gap: var(--05rem);
}
[data-submit='register'] fieldset {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: var(--03em);
}
