main {
  display: flex;
  justify-content: space-between;
  height: 75vh;
}
article {
  flex: 1;
  padding: var(--1-25rem);
  overflow-y: auto;
}
#menu-comandas,
#toDoList {
  overflow-y: auto;
  display: flex;
}
#register,
#login {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--1-25rem);
}
#pedidos {
  padding: var(--062rem);
  max-width: var(--15-6rem);
}
#toDoList {
  justify-content: space-around;
  align-items: center;
}
[data-submit='register'] fieldset {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: end;
  align-items: center;
  font-size: var(--1rem);
  gap: var(--03em);
}
