@layer components {
  img {
    width: var(--1-87rem);
    height: var(--1-87rem);
    border-radius: var(--04rem);
  }
  :where(#unavailables, #platos-lista) {
    overflow: visible;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    #orderPaid ul {
      gap: var(--5rem);
    }
    > ul > li {
      margin: 15px;
      box-shadow: 0 6px 23px -15px rgba(0, 0, 0, 0.75);
      padding: var(--1rem) var(--032rem);
      transition: transform 0.3s;
      @media (hover: hover) {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    img {
      width: var(--9rem);
      height: var(--6rem);
      border-radius: var(--062rem);
    }
    p {
      margin: var(--032rem) 0;
    }
  }
  .has-tooltip {
    position: relative;
    z-index: 1;
    @media (hover: hover) {
      &:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .tooltip,
  .tpv-tooltip {
    position: absolute;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    border-radius: var(--032rem);
    opacity: 0;
    z-index: 1000;
  }
  .tooltip {
    padding: 0 var(--05rem);
    display: block;
    flex-direction: column;
    min-width: auto;
    min-height: auto;
    color: var(--black);
    font-weight: 700;
    background: rgba(0, 0, 0, 0.2);
    bottom: 70%;
    left: 0;
    margin-left: calc(-1 * var(--6rem));
    transition: opacity 0.3s;
    overflow: visible;
  }
  .tpv-tooltip {
    background: rgba(0, 0, 0, 0.75);
    color: var(--text-white);
    padding: var(--025rem) var(--05rem);
    font-size: var(--075rem);
    transition: opacity 0.15s ease;
  }
}
