@layer components {
  .toast {
    position: fixed;
    bottom: var(--1rem);
    right: var(--1rem);
    padding: var(--075rem) var(--1-25rem);
    border-radius: var(--05rem);
    background: var(--color-text);
    color: var(--background-body);
    opacity: 0;
    transform: translateY(var(--2rem));
    transition: opacity 0.3s ease, transform 0.3s ease;
    .show {
      opacity: 1;
      transform: translateY(0);
    }
    .success {
      background: var(--softGreen);
    }
    .error {
      background: var(--red);
    }
    .info {
      background: var(--button-hover);
    }
  }
}
