@layer base {
  h1,
  h2 {
    color: var(--green);
    padding: var(--1-25rem);
  }
  h1 {
    color: var(--text-white);
    font-size: var(--2rem);
  }
  caption {
    margin-bottom: 2%;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
